<%= stylesheet_link_tag "open_id.css" %>
<table>
  <tr>
    <td width="54"><%= t("OpenID") %>:</td>
    <td>
      <%= input "user", "identity_url", {:class => "openid_url", :size => 28} %>
    </td>
  </tr>
</table>